<div class="column">
    <div class="month">
        {{month.monthName}}
    </div>
    <div class="weeks">
        <ul style="list-style: none;font-family: Verdana, Geneva, Tahoma, sans-serif;color:white;display: flex;">
            <li *ngFor="let day of Weeks" style="margin:5px 5px 5px 5px;padding:10px;background-color: black;">
                {{day}}
            </li>
        </ul>
    </div>
    <div class="body">
        <ul style="list-style: none;">
            <li *ngFor="let object of objects">
                <app-task-ref-timeline [viewheight]='object.height' [task]='object.task'></app-task-ref-timeline>
            </li>
        </ul>
    </div>
</div>