.column {
    width: 200px;
    height: 100%;
}

.month {
    width: 200px;
    height: 50px;
    background: linear-gradient(to right, #21b3ff, #0684c7);
    padding: 10px;
    font-size: 24px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.weeks {
    width: 200px;
    height: 50px;
    background-color: #123c52;
}

.body {
    background: linear-gradient(to bottom right, #dfeff7, #99a8b0);
    height: calc(100% - 110px);
}