.task {
    width: 330px;
    height: auto;
    margin: 10px 10px 0 10px;
    background-color: white;
}

.task-header {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
}

.sub-task-container {
    width: 330px;
    height: auto;
    margin: 5px;
    padding-bottom: 5px;
}

.ul {
    list-style: none;
}

.icons {
    display: flex;
}

.add-sub-task {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 40px;
    margin: 5px;
    cursor: pointer;
}

.add-sub-task:hover {
    transform: scale(1.3);
}

.icon-mini {
    width: 15px;
    height: 15px;
}

.cancel {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 12px;
    margin: 5px;
    cursor: pointer;
}

.cancel-button {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.cancel-button:hover {
    transform: scale(1.3);
    opacity: 1;
}