<div class="subtask-container">
    <div class="sub-task">
        <div class="sub-task-unit">{{subtask.subtaskName}}</div>
        <div class="responsible">{{subtask.responsible}}</div>
    </div>
    <div class="task-info">
        Status:
        <div class="status" [ngClass]="{'complete':subtask.status === 'complete','incomplete':subtask.status==='incomplete','issues':subtask.status==='issues','inprogress':subtask.status==='inprogress'}">{{subtask.status}}</div>
        Priority:
        <div class="priority" [ngClass]="{'priority1':subtask.priority===1,'priority2':subtask.priority===2,'priority3':subtask.priority===3,'priority4':subtask.priority===4,'priority5':subtask.priority===5}"></div>
        <div class="update-icon">
            <img class="update" src="../../../../../assets/edit.svg" (click)="updateSubtask.emit()">
        </div>
        <div class="cancel">
            <img class="cancel-button" src="../../../../../assets/close.svg" (click)="deleteSubtask.emit()">
        </div>
    </div>
</div>