<div class="add-task" [ngClass]="{'hide':hide}">
    <div class="header">new task</div>
    <div class="cancel">
        <img class="cancel-button" src="../../../../assets/close.svg" (click)="addTaskView()">
    </div>
    <div class="body">
        <form>
            <div class="form-component">
                <label class="label">Name</label>
                <input type="text" name="taskName" class="input" #taskName>
            </div>
            <br>
            <div class="form-component">
                <label class="label">Start Date</label>
                <input type="Date" name="startDate" class="input" #startDate>
            </div>
            <br>
            <div class="form-component">
                <label class="label">End Date</label>
                <input type="Date" name="endDate" class="input" #endDate>
            </div>
            <div class="submit" (click)="addTask(taskName.value,startDate.value,endDate.value)">Add Task</div>
        </form>
    </div>
</div>