<div class="member">
    <div class="member-header">
        <div class="user">
            <img class="profile" src="../../../../../assets/user.svg">
        </div>
        <div class="name">{{member.name}}</div>
    </div>
    <div class="body">
        <div class="row">
            <div class="task">
                <p>Assigned Task: {{member.task}}
                </p>
            </div>
            <div class="subtask">
                <p>Subtask: {{member.subtask}}</p>
            </div>
        </div>
        <div class="row">
            <div class="date">
                <p>Assigned: {{member.assignmentDate}}</p>
            </div>
            <div class="date">
                <p>Deadline: {{member.completionDate}}</p>
            </div>
        </div>
        <div class="row">
            <div class="progress">Progress: </div>
        </div>
    </div>
</div>
